<!DOCTYPE html>
<html lang="fa">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>TitaDo</title>
    </head>
    <body>
        <center>
            
            <p>
                <h3>سلام این برنامه نقش مدیر برنامه شما را بازی میکند و شدیدا در حال توسعه است </h3>
                <a href='https://github.com/KomeilParseh/TITA-DO'>اینجا میتونید ببنید</a>
            </p>
            <p>
                اگر برای خودتان ابَر کاربر ساختید به <a href='/admin/login/'>اینجا بیاین</a>  و رمز و نام کاربری خودتان را وارد کنید و از برنامه لذت ببرید
            </p>
        
        </center>

    </body>
</html>